.mj-navbar-logo {
    width: 120px;
    padding-bottom: 10px;
}

.mj-navbar-container {
    background-color: #eee;
}

.mj-navbar-column {
    padding-top: 20px;
}

mj-navbar-link {
    color: rgb(6, 6, 6);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 1000px;
    padding: 10px;
}