.mj-hero {
    padding: 70px 70px 13px !important;
    position: relative;
    background-color: #fdfdfd;

}

.mj-hero-min-height {
    height: 154px;
}

.mj-hero-logo {
    background:transparent;
    padding-bottom: 10px;
}

.mj-hero-logo-text {
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
}

.mj-hero-text {
    text-align: center;
    margin-bottom: 20px;
}

.mj-hero-violator {
    float:left;
    padding: 0 70px 20px !important;
    background-color: white;
}

.mj-hero-violator-text {
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
}