.mj-hero {
    padding: 50px 70px 13px !important;
    position: relative;
    background-color: #fdfdfd;
}

.mj-hero-min-height {
    height: 154px;
}

.mj-hero-logo {
    background:transparent;
    padding-bottom: 10px;
}

.mj-hero-logo-text {
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 20px;
}

.mj-hero-text {
    text-align: center;
}

.mj-hero-violator {
    float:left;
    padding: 0 70px 50px !important;
    background-color: white;
}

.mj-hero-violator-text {
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
}

.header-h1 {
    font: normal normal lighter 32px/32px  "Adobe Clean";
    padding:0;
    margin:0;
    text-align: center;
}

.header-h2 {
    font: normal normal normal 36px/40px  "Adobe Clean";
    line-height: 1.25;
    margin-block-start: 30px;
    margin-block-end: 40px;
}

.header-h1, .header-h2 {
    letter-spacing: 0;
    color: #000;
    opacity: 1;
}
