.mj-announcement-section {
    background-color: var(--inner-bg-color);
    padding: 0px 70px;
}

.mj-month-title {
    font-size: 20px;
    font-weight: bold;
}

.mj-card-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.mj-card-meta {
    font-size: 16px;
    color: #353535;
    padding-bottom: 10px;
}

.mj-card-description {
    font-size: 16px;
    color: #353535;
    padding-bottom: 10px;
}

.mj-card-link {
    color: #32aef5 !important;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px !important;
}

.mj-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px
}

.mj-card a {
    text-decoration: none;
    color: inherit;
    display: block;
    /* Ensures the anchor wraps the entire card */
}

.mj-card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    /* Optional hover effect */
}